*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --lemon: #FBF1EF;
    --pineapple: #FBF1EF;
    --strawbbery: #FBF1EF;
    --orange: #FBF1EF;
    --background: #ffffff;
}

.Juice-class{
  height: 100vh;
  width: 100%;
  background: var(--lemon);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.juiceleft{
  height: 100vh;
  width: 40%;
  background-image: url(/src/assets/Vector-Lemon-map.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card{
    height: 350px;
    width: 300px;
    background-color: var(--background);
    margin: 120px 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  .amount{
    height: 50px;
    width: 180px;
    display: flex;
    justify-content: space-around;
  }
  .amount span{
    width: 40px;
    background-image: url(/src/assets/pngwing.com.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .amount input{
    width: 110px;
    font-size: 45px;
    color: black;
    border: none;
    background: transparent;
  }
  .card button{
    height: 30px;
    width: 150px;
    background: rgb(212, 177, 177);
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  .JuiceRight{
    height: 100vh;
    width: 40%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .juiceSwiper{
    height: 250px;
    width: 300px;
    border: 1px solid red;
  }
  .juiceSwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .juiceSwiper img {
    width: 100%;
    height: auto;
    object-fit: cover; 
  }