*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --lemon: #FBF1EF;
    --pineapple: #FBF1EF;
    --strawbbery: #FBF1EF;
    --orange: #FBF1EF;
    --background: #ffffff;
}

.title{
  height: 50px;
  width: 30%;
  /* border: 1px solid; */
  position: absolute;
  left: 35%;
  top: 10%;
  text-decoration-thickness: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title p{
  color: transparent;
  font-size: 25px;
  -webkit-text-stroke: .2px var(--pineapple);
  background-image: linear-gradient(red, blue);
  background-repeat: no-repeat;
  background-clip: text;
  background-position: -280px 0;
  animation: animateText 3s linear infinite;
  font-synthesis: weight;
}
@keyframes animateText {
  0% {
    background-position: -280px;
  }
  30% {
    background-position: -140px;
  }
  65% {
    background-position: 0 0;
  }
  85% {
    background-position: 140px;
  }
  100% {
    background-position: 280px;
  }
}

.Juice-class{
  height: 100vh;
  width: 100%;
  background: var(--lemon);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.juiceleft{
  height: 100vh;
  width: 40%;
  background-image: url(/src/assets/Vector-Lemon-map.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card{
    height: 350px;
    width: 300px;
    background-color: var(--background);
    margin: 120px 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  .amount{
    height: 50px;
    width: 180px;
    display: flex;
    justify-content: space-around;
  }
  .amount span{
    width: 40px;
    background-image: url(/src/assets/pngwing.com.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .amount input{
    width: 110px;
    font-size: 45px;
    color: black;
    border: none;
    background: transparent;
  }
  .card button{
    height: 30px;
    width: 150px;
    background: rgb(212, 177, 177);
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  .JuiceRight{
    height: 100vh;
    width: 50%;
    /* border: 1px solid; */
    position: relative;
  }
  .juiceSwiper{
    height: 500px;
    width: 450px;
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .swiper-slide {
    width: 350px;
  }
  .juiceSwiper img {
    width: 100%;
    height: auto;
    object-fit: cover; 
  }

  .selection{
    height: 40px;
    width: 40%;
    /* border: 1px solid blue; */
    position: absolute;
    top: 90%;
    left: 35%;
    display: flex;
    justify-content: space-evenly;
  }

  /* Fade-in animation */
/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
} */

/* Fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* Class to apply animation */
.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.fade-out {
  animation: fadeOut 1.5s ease-in-out;
}

.fing {
  animation: zoomIn 1s forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}


@media screen and (max-width: 950px) {
  .Juice-class{
    height: 100vh;
    width: 100%;
    display: flex;
    /* border: 1px solid rebeccapurple; */
  }
  .juiceleft{
    width: 60%;
  }
  .title{
    height: 30px;
    width: 60%;
    left: 25%;
    top: 20%;
  }
  .card{
    width: 60%;
    margin: 35% auto !important;
  }
  .JuiceRight{
    width: 60%;
    /* border: 1px solid; */
    margin: 10px;
  }
  .juiceSwiper{
    width: 90%;
  }
  .selection{
    transform: translateY(-50px);
    width: 60%;
    /* border: 1px solid; */
    left: 20%;
  }
}


@media screen and (max-width: 650px) {
  .Juice-class{
    height: 200vh;
    width: 100%;
    padding: 5px;
    flex-direction: column;
    gap: 15px;
  }
  .title{
    height: 30px;
    width: 60%;
    left: 25%;
  }
  .title p{
    font-size: 20px;
  }
  .juiceleft{
    width: 100%;
    height: 80vh;
    margin-top: 80px;
  }
  .card{
    width: 50%;
  }
  .amount{
    width: 80%;
  }
  .amount span{
    width: 20%;
    background-size: 100% 80%;
  }
  .amount input{
    width: 80%;
    font-size: 25px;
  }
  .card>button{
    width: 80%;
  }
  .JuiceRight{
    width: 100%;
    /* border: 1px solid; */
    margin: 50% auto;
  }
  .juiceSwiper{
    width: 100%;
  }
  .selection{
    transform: translateY(-50px);
    width: 60%;
    /* border: 1px solid; */
    left: 20%;
  }
}
